<h2>
    Message from {{ contact.name }}, 
</h2>

<h3>
    Subject : {{ contact.subject }}
</h3>



<p>
    Message: {{ contact.message}}
    <hr>
    Your message was send successfully.Thank you !
</p>