<h3>
    Salut, tu as oublié ton mot de passe vilain petit va !
</h3>

<p>
    S'il te plait clique sur le lien suivant pour accéder à la page de réinitialisation
    de ton mot de passe :
<hr>
<a href="{{ url('reset-forgot-password', {'user': user.id}) }}">clique sur ce lien</a>
</p>