<h3>
    Hello !
</h3>

<p>
    Please click on the link down below to reset your password : 
<hr>
<a href="http://localhost:3000/changeForgotPassword/{{ user.forgotPasswordToken }}">Clicko on the link</a>
</p>